//Banner in Header
header[role="banner"] {
  .title {
	color: $color10;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: 1px;
	width: 20%;
	margin-left: 5%;
	background-color: $color9;
	margin-top: 15px;
  }
  span.sidebar-item {
	float: right;
	background-color: $color9;
	margin-right: 5%;
	margin-top: -3%;
  }
}


// Main navigation links
// ====================================================================

.main_navi_list {
  border-bottom: 2px dotted;
  &:last-child {
	border: none;
  }
  a {
	display: block;
	padding: .5em;
	color: $color10;
	opacity: .7;
	border: none;
	&:hover {
	  opacity: 1;
	}
	&:visited {
	  opacity: .9;
	}
	b {
	  display: block;
	}
	span {
	  display: block;
	  font-size: .8em;
	}
  }
}